<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User</title>
	{% include "components/styles.html"%}
	{% include "components/svgs.html"%}
</head>
<body>
{% include "components/user-nav.html"%}
<main>
	<user-details>
	<logout-area>
		Logout
		<a href="/user/logout" class="logout">
			✕
		</a>
	</logout-area>
	<deposits-header>Deposits</deposits-header>
	<deposits>
	{% for deposit in user.transactions%}
	<deposit><t-key>XMR</t-key> {{"{:,.6f}".format(deposit.amount/(1000*1000*1000*1000))}} <t-key>Height</t-key> {{deposit.block_height}} <t-key>Hash</t-key> {{deposit.tx_hash}} <t-key>Unlocked</t-key> {{deposit.unlocked}}</deposit>
	{% endfor %}
	</deposits>
	<withdraws-header>Withdraws</withdraws-header>
	<withdraws>
	{% for withdraw in user.withdraw_requests%}
	<withdraw><t-key>XMR</t-key> {{"{:,.6f}".format(withdraw.amount/(1000*1000*1000*1000))}} <w-fee><t-key>Fee</t-key> {{"{:,.6f}".format(withdraw.fee/(1000*1000*1000*1000))}} XMR</w-fee> <t-key>Hash</t-key> {{withdraw.tx_hash}} <t-key>Success</t-key> {{withdraw.success}}</withdraw>
	{% endfor %}
	</withdraws>
	</user-details>
</main>
</body>
</html>
